pipeline/Emp_Names_Foreach.json
{
	"name": "Emp_Names_Foreach",
	"properties": {
		"activities": [
			{
				"name": "get emp table details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from emp",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlEMPTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get emp table details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get emp table details').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ename",
								"value": {
									"value": "@item().ename",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "show Enames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ename_Dest",
					"value": {
						"value": "@variables('Ename')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Ename": {
				"type": "Array",
				"defaultValue": []
			},
			"Ename_Dest": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T09:33:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}