pipeline/Emp_Names_Foreach_Logs.json
{
	"name": "Emp_Names_Foreach_Logs",
	"properties": {
		"activities": [
			{
				"name": "Starting_Logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[efn].[usp_PipelineStartLogs]",
						"storedProcedureParameters": {
							"pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runid": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('Starting_Status')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlEMPTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute required pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Starting_Logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Scenario2-squarecalculation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Succesful Ending Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute required pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[efn].[usp_PipelineEndLogs]",
					"storedProcedureParameters": {
						"errormsg": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Starting_Logs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failed Ending Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute required pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[efn].[usp_PipelineEndLogs]",
					"storedProcedureParameters": {
						"errormsg": {
							"value": {
								"value": "@activity('Execute required pipeline').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Starting_Logs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('End_Failed_Status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Ename": {
				"type": "Array",
				"defaultValue": []
			},
			"Ename_Dest": {
				"type": "Array"
			},
			"Starting_Status": {
				"type": "String",
				"defaultValue": "Running"
			},
			"End_Success_Status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"End_Failed_Status": {
				"type": "String",
				"defaultValue": "Failed"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-29T08:35:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}