pipeline/Foreach_Class.json
{
	"name": "Foreach_Class",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('numbers')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Result",
								"value": {
									"value": "@{mul(item(),2)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test",
								"value": {
									"value": "@variables('Result')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test1",
								"value": {
									"value": "@variables('Test')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"numbers": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			},
			"Result": {
				"type": "String"
			},
			"Dest": {
				"type": "Array"
			},
			"Temp": {
				"type": "Array"
			},
			"Test": {
				"type": "Array"
			},
			"Test1": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-28T06:41:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}