pipeline/Logs_area_calculation.json
{
	"name": "Logs_area_calculation",
	"properties": {
		"activities": [
			{
				"name": "calcualte Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Starting_area_calculation_logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@mul(variables('Breadth'),variables('Length'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Starting_area_calculation_logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[efn].[usp_PipelineStartLogs]",
						"storedProcedureParameters": {
							"pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runid": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('Pipeline_Start_Status')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlEMPTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Success_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "calcualte Area",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[efn].[usp_PipelineEndLogs]",
					"storedProcedureParameters": {
						"errormsg": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Starting_area_calculation_logs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('Success_Status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failed_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "calcualte Area",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[efn].[usp_PipelineEndLogs]",
					"storedProcedureParameters": {
						"errormsg": {
							"value": {
								"value": "@activity('calcualte Area').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Starting_area_calculation_logs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "@variables('Failed_Status')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Area": {
				"type": "Integer"
			},
			"Length": {
				"type": "Integer",
				"defaultValue": 10
			},
			"Breadth": {
				"type": "Integer",
				"defaultValue": 5
			},
			"Pipeline_Start_Status": {
				"type": "String",
				"defaultValue": "Running"
			},
			"Success_Status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"Failed_Status": {
				"type": "String",
				"defaultValue": "Failed"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-29T09:05:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}