pipeline/Lookupactivity_Homework.json
{
	"name": "Lookupactivity_Homework",
	"properties": {
		"description": "while fetching data from sql server in where clause we mentioned manually 10 or 20 or 30, now we need to keep this dynamically how to do this?",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.emp where deptno= @{variables('deptno')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlEMPTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "deptno",
					"value": [
						10,
						20,
						30
					]
				}
			}
		],
		"variables": {
			"deptno": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					30
				]
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T06:02:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}