pipeline/Scenario1-rectangle area calculation.json
{
	"name": "Scenario1-rectangle area calculation",
	"properties": {
		"activities": [
			{
				"name": "Set length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "10"
				}
			},
			{
				"name": "Set breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": "5"
				}
			},
			{
				"name": "calcualte Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@string(mul(int(variables('breadth')),int(variables('length'))))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Area": {
				"type": "String"
			},
			"length": {
				"type": "String"
			},
			"breadth": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T06:02:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}