pipeline/Until_Activity.json
{
	"name": "Until_Activity",
	"properties": {
		"activities": [
			{
				"name": "Initialize Variable X",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarX",
					"value": 1
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Initialize Variable X",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('VarX'),5)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Temp Variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Temp",
								"value": {
									"value": "@variables('VarX')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increasing the VarX value",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Temp Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarX",
								"value": {
									"value": "@add(variables('Temp'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"VarX": {
				"type": "Integer"
			},
			"Temp": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T09:24:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}